<!-- <div style="background-color: green;" *ngIf="isView; else meuTemplate">Sou uma div!</div>
<ng-template #meuTemplate>
    <div style="background-color: red;">Sou uma outra div!</div>
</ng-template> 
-->
<!-- 
<ng-template #thenTemplate>
    <div style="background-color: green;">Sou a div then!</div>
</ng-template>

<ng-template #elseTemplate>
    <div style="background-color: yellow;">Sou a div else!</div>
</ng-template>

<ng-container *ngIf="isView; then thenTemplate else elseTemplate "></ng-container>



<br />
<button (click)="onToggleProp()">Toggle</button> -->

<!-- <div id='my-div' style="display: none;">Sou uma div escondida</div> -->


<div id='my-div' style="visibility: hidden;">Sou uma div escondida</div>
<h3>Sou um texto</h3>